.font-light{
    font-weight: 300;
}

.font-normal{
    font-weight: 400;
}

.font-semibold{
    font-weight: 600;
}

.font-bold{
    font-weight: 700;
}

.txt-14{
    font-size: 14px;
}

.txt-16{
    font-size: 16px;
}

.txt-bluegray{
    color: var(--colorBlueGray);
}

.txt-20{
    font-size: 20px;
}

.txt-green{
    color: var(--colorGreen);
}

.txt-back{
    color: var(--colorBlack);
}