/* header */
header{
    background: #000;
    background-image: url('../img/background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    padding: 20px 8px;
}

.nav-container{
    display: flex;
    height: 92vh;
    justify-content: space-between;
    flex-direction: column;
}

.nav-left{
    flex-direction: column;
}

.menu-list ul{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.menu-list ul li{
    margin-top: 30px;
    list-style: none;  
}

nav{
    height: 100vh;
    max-height: 10vh;
    overflow-y: hidden;
    transition: .2s;
}

.nav-left .menu-list{
    overflow-y: hidden;
}

.open-nav{
    max-height: 100vh;
}

.menu-list ul li a{
    color: #fff;
    font-size: 1rem;
}

.hero{
    overflow-y: hidden;
}
#heroImg{
    margin-bottom: -30vh;
}

/* end header */


/* section1 */
.section1{
    background-image: url('../img/bg-section1.svg');
    background-repeat: no-repeat;
    background-position: center 17vh;
    background-size: cover;
}

.grid-card{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
}
.grid-card .slick-list.draggable{
    padding: 0 !important;
}

.card-section1{
    height: fit-content;
    margin: 0 auto;
    max-width: 370px;
    border-image-source: linear-gradient(to left , rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(64px);
    padding: 34px 32px;
    border-radius: 16px;
    margin-left: 20px !important;
}


.card-section1:first-child{
    margin-left: unset;
}

.card-icon-box{
    padding: 15px;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    background: #fff;
}

.list-line{
    background: url('../img/icon/line-list.svg');
    height: 100%;
    background-size: cover;
    background-position: center center;
}
/* end section1 */

/* section 3 */
.section3{
    background-image: url('../img/bg-section4.svg');
    background-size: cover;
    background-position: center center;
}

.section3-card-container{
    overflow-x: scroll;
}

.section3-card{
    padding: 36px 24px;
    border-image-source: linear-gradient(to left , rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(64px);
    width: 277px;
    min-width: 277px;
    height: 256px;
    border-radius: 16px;
}

/* end section 3 */


/* section 4 */
.talent-box{
    background-color: #000;
    background-image: url('../img/bg-talent.svg');
    background-position: center center;
    background-size: cover;
  
}

/* end section 4 */


/* faq */
.faq-link div{
    padding: 20px 9px;
    border-bottom: 1px solid #dddddd;
}

/* end faq */

@media screen and (min-width:1024px) {
    .section1{
        background-position: center center;
    }
}

@media screen and (min-width:768px) {
    /* header */
    nav{
        height: fit-content;
    }
    .nav-container{
        display: flex;
        height: fit-content;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-left{
        flex-direction: row;
        display: flex;
    }

    .menu-list{
        display: flex;
        align-items: center;
    }
    .menu-list ul{
        flex-direction: row;
        align-items: center;
    }

    .menu-list ul li{
        margin-top: 0;
        margin-left: 72px;
    }

    #heroImg{
        margin: inset;
    }
    /* end header */

    /* section1 */

    .grid-card div:nth-child(2) .card-section1{
        margin-top: 14vh;
    }
    .grid-card div:nth-child(3) .card-section1{
        margin-top: -10vh;
    }
    .grid-card div:nth-child(4) .card-section1{
        margin-top: 4vh;
    }

    .grid-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /* end section1 */

    /* section 3 */
    .section3-card-container{
        overflow: unset;
    }
    /* end section 3 */

    /* section 4 */
    .talent-box{
        padding: 116px 0;
        border-radius: 30px;
    }

    /* end section 4 */
   
}

