@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
:root{
    --colorGray : #adadad;
    --colorGreen : rgba(24, 169, 65, 1);
    --colorLightGreen : rgb(17, 146, 54);
    --colorSemiBlack : #111111;
    --colorOptionHover : #202020;
    --colorBlueGray : #8193B2;
}

html,body{
    overflow-x: hidden;
}

body{
    font-family: 'Open Sans', sans-serif;
   
}

.border-box{
    box-sizing: border-box;
}

.opacity-30{
    opacity: .3;
}

.h-fit{
    height: fit-content !important;
}

.w-fit{
    width: fit-content !important;
}

a{
    width: fit-content;
    text-decoration: none;
    color: unset;
}

a:hover{
    color: inset;
}

a.button-green{
    color: #fff;
}

h1,h2,h3,h4,h5{
    font-weight: 700;
}

h2{
    font-size: 40px;
}

h4,h3{
    font-size: 24px;
}

h6{
    font-size: 18px;
    line-height: 160%;
}

p{
    font-size: 20px;
}

.gray-line{
    border-top: 1.8px solid #adadad;
}

.special-padding{
    padding: 46px 0;
}

@media screen and (min-width : 768px) {
    h1{
        font-size: 72px;
    }
    h2{
        font-size: 64px;
    }

    h3{
        font-size: 40px;
    }

    h4{
        font-size: 32px;
    }



    .special-padding{
        padding: 126px 0;
    }
}